<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbzEHkgVkzjmVP0blJ4WfWUPyrILqf2e8</string>
	<key>GCM_SENDER_ID</key>
	<string>361470835671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productivee</string>
	<key>PROJECT_ID</key>
	<string>productivee-1d99a</string>
	<key>STORAGE_BUCKET</key>
	<string>productivee-1d99a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361470835671:ios:3676436d93b9f0bb23e992</string>
</dict>
</plist>